<%- include('../partials/header', {title: "Test"}); %>

<div class="mainCol">
	<div><h1>Below are some links that explain how NOVA works.</h1></div>
	<br>
	<div><h3>
		Nova is a chat bot that utilizes Google Cloud's DialogFlow AI system.  The system looks at the user's input and using NLP (Natural Language Processing), determines the context and intent of the user's statement.  It also extracts values from what they say so that they can be processed as input parameters.
	</h3></div>
</div>

<%- include('../partials/footer', {title: "Test"}); %>
