<%- include('../partials/header', {title: "Test"}); %>

<div class="mainCol">
	<div><h1>Below are some links that explain how NOVA works.</h1></div>
	<br>
	<div>
		<h3>
			Nova is a chat bot that utilizes Google Cloud's DialogFlow AI system.  The system looks at the user's input and using NLP (Natural Language Processing), determines the context and intent of the user's statement.  It also extracts values from what they say so that they can be processed as input parameters.
		</h3>
		<h4>
			<ul>
				<li>
					<a href="https://cloud.google.com/dialogflow/docs/">DialogFlow Documentation</a> - Visit Google Cloud's DialogFlow documentation to learn more about how AI is used for NLP (Natural Language Processing) here.
				</li>
				<li>
					<a href="https://en.wikipedia.org/wiki/Natural_language_processing">Wikipedia: Natural Language Processing</a> - Learn about how Natural Language Processing works.
				</li>
				<li>
					<a href="https://en.wikipedia.org/wiki/Neural_network">Wikipedia: Neural Networks</a> - The foundational basis of AI are neural networks.  Learn about how neural networks change the way computing is performed by simulating the way that real neurons function and learn.
				</li>
			</ul>
		</h4>

	</div>
</div>

<%- include('../partials/footer', {title: "Test"}); %>
