
			<%- include('../partials/header', {title: "Test"}); %>
			<div id="userHolder" data-username="<%=user%>"></div>

			<div class="mainRow">
				<div class="left">
					<button></button><br>
					<div class="talkBox">
						<p>You said: <em class="output-you">...</em></p>
						<p>Bot replied: <em class="output-bot">...</em></p>
					</div>
				</div>

				<div class="output">
				</div>
			</div>

			<div class="footer">
				FOOTER
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>
