
			<%- include('../partials/header', {title: "Test"}); %>
			<div id="userHolder" data-username="<%=user%>"></div>

			<div class="mainRow">
				<div class="left">
					<button></button><br>
					<div class="talkBox">
						<p>You said: <em class="output-you">...</em></p>
						<p>Bot replied: <em class="output-bot">...</em></p>
					</div>
					<div>
						<h4>Things you can ask Nova:</h4>
						<ul>
							<li>Her name</li>
							<li>Her boss</li>
							<li>Her age</li>
							<li>Her mission</li>
							<li>Weather forecast</li>
						</ul>
						Try wording your questions in different ways.
					</div>
				</div>

				<div class="output" id="output">
				</div>
			</div>

			<div class="footer">
				FOOTER
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>
