<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Nova AIbot</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div class="container">
			<div class="header">
			</div>

			<div class="main">
				<div class="left">
					<button></button><br>
					<div class="talkBox">
						<p>You said: <em class="output-you">...</em></p>
						<p>Bot replied: <em class="output-bot">...</em></p>
					</div>
				</div>

				<div id="output">
				</div>
			</div>

			<div class="footer">
				FOOTER
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>
