<%- include('../partials/header', {title: "Test"}); %>

<div class="mainCol">
	<h1>Thank you for registering.  Please check your email for your password.</h1>
</div>

<%- include('../partials/footer', {title: "Test"}); %>
