<%- include('../partials/header', {title: "Test"}); %>

<div class="mainCol">
	<div class="output loginBox">
		<h1>UPDATE YOUR PASSWORD</h1>
		<h3>
			<% if (success.length) { %>
				<%= success %>
			<% } %>
			<% if (errors.length) { %>
				<%= errors %>
			<% } %><br>
		</h3>
		<form action="/api/v1/updatepassword" method="POST">
			<div class=formEntries>
				<label for="email">Email Address:</label><br>
				<input type="text" name="email" id="email"><br><br>

				<label for="currentpass">Your Current Password:</label><br>
				<input type="password" name="currentpass" id="currentpass"><br><br>

				<label for="currentpass">Your New Password:</label><br>
				<input type="password" name="newpass" id="newpass"><br><br>

				<input type="submit" name="submit" value="Submit">
			</div>
		</form>


	</div>
</div>

<%- include('../partials/footer', {title: "Test"}); %>
