<div class="dayWeather">
	<b>Brooklyn, NY</b><br>
	Thurs 7-16-2000<br>
	<img src="https://openweathermap.org/img/wn/10d@2x.png" width="100px" height="100px"><br>
	<span class="temperature">82&deg;</span><br>
	<span class="weatherDesc">Sunny</b><br>
</div>

<style>
	.dayWeather {
		align-content: center;
		align-items: center;
		width: 175px;
		height: 300px;
		margin: auto;
		text-align: center;
		background-color: gray;
	}

	.temperature {
		font-size: 100px;
		font-weight: bold;
		padding-left: 15px;
	}
	.weatherDesc {
		font-size: xx-large;
	}
</style>
