html, body {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #bce7be;
	background-image: url('/images/main-background.png');
}

.header {
	/*position: absolute;*/
	width: 100%;
	height: 200px;
	left: 0px;
	top: 0px;
	background-color: chartreuse;
	background-image: url('/images/header.png'), url('/images/header-background.png');
	background-repeat: no-repeat, repeat-x;
	display: block;
	margin-bottom: 10px;
}

.left {
	width: 400px;
}

.mainCol {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 90%;
	margin: auto;
	padding-bottom: 30px;
}

.mainRow {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 90%;
	margin: auto;
	padding-bottom: 30px;
}

.talkBox {
	overflow-wrap: break-word;
	hyphens: auto;
	width: 400px;
}

.container {
	position: relative;
	min-height: 100vh;
	/*min-height: calc(100vh - 20px);*/
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	background-color: black;
	margin-top: 5px;
	display: block;
}

button {
  display: block;
  width: 200px;
  height: 200px;
  border: 0;
  border-radius: 50%;
  padding: .7em 1em;
  margin: 4em 0 3em;
  text-align: center;
  color: #fff;
  background-image: url('/images/mic.png');
  background-size: cover;
  /*background: linear-gradient(180deg, #39C2C9 0%, #3FC8C9 80%, #3FC8C9 100%);*/
  box-shadow: 2px 5px 30px rgba(63, 200, 201, .4);

  will-change: transform, filter;
  transition: all 0.3s ease-out;
}
button:hover {
  transform: scale(.92);
}
button:active {
  filter: brightness(.8);
}
button:focus {
  outline: 0;
}

.output {
	position: relative;
	width: 800px;
	height: 600px;
	background-color: rgba(0, 191, 0, 0.25);
	overflow: hidden;
	font-size: larger;
	box-sizing: border-box;
	padding: 0px;
	text-align: center;
	margin: auto;
}

.loginBox {
	width: 600px;
	height: 400px;
}

.tallLoginBox {
	width: 600px;
	height: 500px;
}


.formEntries {
	text-align: left;
	margin: auto;
	width: 300px;
}

/* WEATHER */
.weekWeather {
	position: absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
	object-fit: scale-down;
	margin: 0px;
	width: 750px;
	height: 550px;
	transform: scale(0.75, 0.75);
	top: 0px;
	left: 0px;
}

.weekCity {
	position: absolute;
	top: -40px;
	left: 0px;
}

.dayWeather {
	position: relative;
	width: 175px;
	margin: 5px;
	text-align: center;
	background-color: lightgray;
	text-transform: capitalize;
}

.temperature {
	font-size: 100px;
	font-weight: bold;
	padding-left: 15px;
	line-height: 80px;
	height: 80px;
}

.weatherDesc {
	display: inline-block;
	font-size: xx-large;
	height: 2em;
	padding-bottom: 5px;
}

.menu {
	position: absolute;
	left: 300px;
	top: 110px;
	display: flex;
	flex-direction: row;
	padding: 0px;
}

#userHolder {
	display: none;
}
